@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

.fa-phone {
    color: red;
    margin: 0px -27px 0px 0px;
}

.fa-phone::before {
    height: 30px;
    border-left: 1px solid #DAD8D8;
    padding-left: 33px;
}

.fa-heart {
    color: white;
}

.header-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.header-container {
    margin: 41px 0px 0px 112px;
    max-width: 1138px;
    display: flex;
}

.nav-container {
    margin: 0px 0px 0px 65px;
}

.nav {
    height: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 135px;
}

.nav-active {
    padding: 0px 0px 4px 0px;
    border-bottom: 2px solid #B00000;
}

.nav li:nth-of-type(0) {
    width: 100px;
}

.nav-center, .nav-right {
    display: flex;
    align-items: center;
    gap: 33px;
}

.hero-container {
    max-width: 1215px;
    margin: 80px auto 0px auto;
    position: relative;
    display: flex;
    align-items: center;
    gap: 55px;
}

.hero-container img {
    position: absolute;
    right: 0px;
    top: 16px;
}

.hero-tab-container {
    display: flex;
    gap: 18px;
}

.hero-tab-button {
    cursor: pointer;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    padding: 0px 0px 3px 0px;
    color: rgba(214, 212, 212, 0.88);
    font-size: 15px;
    font-weight: 600;
}

.active-tab {
    color: #B00000;
}

.hero-info-container h1{
    margin: 26px 0px 0px 0px;
    width: 608px;
    font-size: 64px;
    font-weight: bolder;
    line-height: 78px;
}

.hero-info-container h4 {
    margin: 34px 0px 70px 0px;
    color: #808080;
    width: 448px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 28px;
}

#hero-red-button {
    background-color: #B00000;
    margin: 0px 20px 0px 0px;
    padding: 14px 13.5px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
}

#hero-white-button {
    padding: 13px 18px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
}

.why-us-container {
    max-width: 1284px;
    margin: 128px auto 0px auto;
    display: grid;
}

.why-us-benefits-container {
    max-width: 1250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 60px;
    justify-self: center;
}

.benefits-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-item-title {
    margin: 12px 0px 4px 0px;
    font-size: 20px;
    font-weight: 700;
}

.benefits-item-info {
    font-size: 12px;
    font-weight: 300;
    width: 252px;
    text-align: center;
}

.price-container {
    width: 1097px;
    margin: 133px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-container > h1 {
    width: 650px;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
}

.price-container > h4 {
    margin: 38px 0px 57px 0px;
    font-size: 25px;
    font-weight: 400;
}

.switch-price-container {
    display: flex;
    gap: 28px;
    position: relative;
}

.switch-price-container h3 {
    font-size: 25px;
    font-weight: 400;
}

.switch-price-container h6 {
    background: #FFE87A;
    padding: 7px 8px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 8px;
    position: absolute;
    right: -100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 93px;
    height: 50px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B00000;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 9px;
    bottom: 10px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(43px);
    -ms-transform: translateX(43px);
    transform: translateX(43px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.service-price-container {
    display: flex;
}

.service-price-container h2 {
    width: 428px;
    margin: 71px 0px 95px 0px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    border-bottom: 4px solid #C4C4C4;
}

.service-price-container > .service-price-active {
    border-color: #B00000;
}

.price-items {
    display: flex;
    gap: 100px;
}

.item {
    width: 299px;
    height: 716px;
    padding: 34px;
    border: 1.5px solid #C4C4C4;
    border-radius: 15px;
}

.item h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 25px;
}

.item p {
    width: 237px;
    margin: 11px 0px 28px 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.item h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 32px;
}

.item h6 {
    margin: 11px 0px 0px 0px;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
}

.item button {
    margin: 35px 0px;
    padding: 9px 52px;
    outline: none;
    border: 2px solid black;
    border-radius: 12px;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    cursor: pointer;
}

.item li {
    margin: 15px 0px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 24px;
    color: #808080;
}

.item li::before {
    content: '✔';
    margin: 0px 24px 0px 0px;
}

.footer-container {
    margin: 110px auto 0px;
    padding: 64px 115px 80px 104px;
    width: 1440px;
    background: #B00000;
}

.footer-main-container {
    margin: 0px 0px 96px 0px;
    display: flex;
    gap: 120px;
}

.footer-info-container p{
    width: 284px;
    margin: 16px 0px 0px 0px;
    color: #E6E6E6;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
}

.footer-main-container ul {
    margin: 16px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-main-container li h4 {
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 24px;
}

.footer-main-container li a {
    color: #E6E6E6;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 32px;
}

.footer-container > p {
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 32px;
}